@theme {
    --default-font-family: 'Azeret Mono', 'museo-sans-rounded', 'Lucida Grande', 'sans-serif';
    --default-mono-font-family: 'Azeret Mono', 'museo-sans-rounded', 'Lucida Grande', 'sans-serif';
    --font-sans: 'Azeret Mono', 'museo-sans-rounded', 'Lucida Grande', 'sans-serif';
    --font-display: 'Azeret Mono', 'museo-sans-rounded', 'Lucida Grande', 'sans-serif';
    --font-body: 'Azeret Mono', 'museo-sans-rounded', 'Lucida Grande', 'sans-serif';

    --color-darkPurple: #0f172a;
    --color-darkPurple-500: #0f172a;
    --color-darkPurple-600: #1e2945;
    --color-lightGrey: #b9b9b9;
    --color-violet: #5b53d5;
    --color-violet-100: #deddf7;
    --color-violet-200: #bdbaee;
    --color-violet-300: #9d98e6;
    --color-violet-400: #7c75dd;
    --color-violet-500: #5b53d5;
    --color-violet-600: #4942aa;
    --color-violet-700: #373280;
    --color-violet-800: #242155;
    --color-violet-900: #12112b;
}
